/* **************************** BODY **************************** */
body {
	margin:auto;
	font-family: "Helvetica"
	/*width: 1047px;
	min-height: 920px;*/
}

@font-face{
	font-family:Montserrat;
	src: url('../fonts/Montserrat.woff2')
}

/* *************************** CLASS *************************** */

.social_network {
	display:inline-block;
	margin-right: 18px;
}

h1{
	font-weight: 800;
	margin:0px;
}

/* *************************** HEADER *************************** */

#header {
	text-align: center;

}

#header img {
    margin-top: 10px;
    margin-bottom: 60px;
	width: 220px;
}

#sn_header {
	text-align: right;

}
/* **************************** MENU **************************** */

#menu {
	background-color: #6E6676;
	height: 40px;
	margin-bottom: 10px;
}

#navigation{
	padding: 11px;
	text-align:center;
	color:#E8E8F2;
}

#menu li{
	display: inline;
	margin: 0px 40px 0px 40px;
}
	
#menu li a {
	color:#FFFFFF;
	text-decoration:none;
	font-family:Montserrat;
	font-size:14px;
}

/* ************************** STICKER *************************** */

#message {
	padding-top: 10px;
	height: 300px;
	text-align:center;
	padding-top: 180px;
}

/* *************************** FOOTER *************************** */

#footer {
	background-color: #6E6676;
	height: 250px;
}

#box_footer{
	position: relative;
	height: 125px;
	width: 800px;
	margin: 0 auto;
	padding-top: 62.5px;
}

#footer_logo{
	width:160px;
	float: left;
	padding-top: 28px;
}

#footer_logo img {
}

#copyright {
	float: right;
	padding-top: 60px;
	color: #FFFFFF;
}
